@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-gray-80 font-sans;
  }
}

.noisy-orange {
  background-image: url("./assets/texture-orange.png");
}

.noisy-beige {
  background-image: url("./assets/texture-beige.png");
}

.bg-radiation {
  background-image: url("./assets/bg-chart.png");
}

.flags-milk {
  animation: slide 10s linear infinite;
}

.flags-chicken {
  animation: slide-r 10s linear infinite;
}

.card-home:hover img {
  transform: scale(1.05);
}

.card-home:hover .character-name {
  transform: translateY(300%);
}

.home-title-1 {
  animation: jumping 5s infinite;
}
.home-title-2 {
  animation: jumping 5s infinite;
  animation-delay: 0.3s;
}
.home-title-3 {
  animation: jumping 5s infinite;
  animation-delay: 0.6s;
}
.home-title-4 {
  animation: jumping 5s infinite;
  animation-delay: 0.9s;
}
.home-title-5 {
  animation: jumping 5s infinite;
  animation-delay: 1.2s;
}
.home-title-6 {
  animation: jumping 5s infinite;
  animation-delay: 1.5s;
}

.map-svg {
  animation: fade 0.5s linear;
}

@keyframes slide {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-350%);
  }
}

@keyframes slide-r {
  0% {
    transform: translateY(-350%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes jumping {
  10% {
    border-radius: 50%;
    transform: scale(1.2);
    transform-origin: center;
  }
  20% {
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
